.wrapper.dark{
    background-color: #2a2a2a;
}

.dark .content{
    background-color: #2a2a2a;
}

.dark .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #1e1e1e;
}

.dark .uk-card-body{
    background-color: #1e1e1e;
}

.dark.uk-modal-body{
    background-color: #1e1e1e;
}

.dark .uk-input:disabled, .dark .uk-input{
    background-color: #1e1e1e;
    border-color: #999;
}

.dark .text, .dark .uk-navbar-nav>li>a , .dark .uk-navbar-item {
    color: #fff;
}

/*Test table*/
.dark .uk-navbar-nav>li>a:hover {
    color: #1e87f0;
}

.dark .row:nth-child(odd) {
    background-color:#1e1e1e;
}
/*End of Test table*/

/*Tooltips*/
.dark .uk-navbar-dropdown {
    background-color:#1e1e1e;
    color: #fff;
}

/*Notifications*/
.dark .uk-notification-message{
    background-color:#1e1e1e;
}

/*Code*/
.dark .code {
    background-color:#1e1e1e;
}
.dark .code span.cm-meta { color: #BBB529; }
.dark .code  span.cm-number { color: #6897BB; }
.dark .code span.cm-keyword { color: #CC7832; line-height: 1em; font-weight: bold; }
.dark .code span.cm-def { color: #6897BB }
.dark .code span.cm-variable { color: #A9B7C6; }
.dark .code span.cm-variable-2 { color: #A9B7C6; }
.dark .code span.cm-variable-3 { color: #9876AA; }
.dark .code span.cm-type { color: #AABBCC; font-weight: bold; }
.dark .code span.cm-property { color: #FFC66D; }
.dark .code span.cm-operator { color: #A9B7C6; }
.dark .code span.cm-string { color: #6A8759; }
.dark .code span.cm-string-2 { color: #6A8759; }
.dark .code span.cm-comment { color: #61A151}
.dark .code span.cm-link { color: #CC7832; }
.dark .code span.cm-atom { color: #CC7832; }
.dark .code span.cm-error { color: #BC3F3C; }
.dark .code span.cm-tag { color: #629755; font-weight: bold; text-decoration: underline; }
.dark .code span.cm-attribute { color: #6897bb; }
.dark .code span.cm-qualifier { color: #6A8759; }
.dark .code span.cm-bracket { color: #A9B7C6; }
.dark .code span.cm-builtin { color: #FF9E59; }
.dark .code span.cm-special { color: #FF9E59; }
.dark .code span.cm-matchhighlight { color: #FFFFFF; background-color: rgba(50, 89, 48, .7); font-weight: normal;}
.dark .code span.cm-searching { color: #FFFFFF; background-color: rgba(61, 115, 59, .7); font-weight: normal;}
.dark .code .CodeMirror-cursor { border-left: 1px solid #A9B7C6; }
.dark .code .CodeMirror-activeline-background { background: #323232; }
.dark .code .CodeMirror-gutters { background: #313335; border-right: 1px solid #313335; }
.dark .code .CodeMirror-guttermarker { color: #FFEE80; }
.dark .code .CodeMirror-guttermarker-subtle { color: #D0D0D0; }
.dark .code .CodeMirrir-linenumber { color: #606366; }
.dark .code .CodeMirror-matchingbracket { background-color: #3B514D; color: #FFEF28 !important; font-weight: bold; }
.dark .code div.CodeMirror-selected { background: #214283; }
/*End of Code*/
